#container-page {
   width: 600px;
   margin: auto;
}

p {
    letter-spacing: 1.3;
}

.container-header {
    background-color: #f5f5dc;
    color: #a48762;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 17px;
    border-radius: 4px;
}

.navigation {
    border-bottom: 2px solid #dcdcdc;
    text-align: center;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.navigation li {
    margin: 0 10px; 
    display: inline-block;
}

.navigation a {
    color: rgb(30, 58, 59);
    text-decoration: underline dotted;
    list-style: none;
    padding: 2px;
}

.container-img {
    text-align: center;
}

.image {
    border-radius: 50%;
    background-image: url(images/Collie.jpg);
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin-bottom: 3px;
    border: 1px solid black;
    border-bottom: 3px solid black;
}

.lightborder {
    padding-bottom: 16px;
    border-bottom: 1.5px solid #dcdcdc;
}

footer {
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 1px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}